<header id="main-header" class="hide-for-small">
  <div class="row">
    <div class="large-12 columns">
      <div>
        <div class="header-logo left">
          <a href="/">
            <img src="/img/logo.png" />
          </a>
        </div>
        <div class="header-cfp right">
          <a href="/cfp-sponsors">
            <img src="/img/cfp.png" />
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="header-link about left">
          <a href="/about">
            <img src="/img/about.png" />
            <strong>About</strong>
            <small>description</small>
          </a>
        </div>
        <div class="header-link speakers left">
          <a href="/speakers">
            <img src="/img/speakers.png" />
            <strong>Speakers</strong>
            <small>description</small>
          </a>
        </div>
        <div class="header-link venue left">
          <a href="/venue">
            <img src="/img/venue.png" />
            <strong>Venue</strong>
            <small>description</small>
          </a>
        </div>
        <div class="header-link sponsors left">
          <a href="/sponsors">
            <img src="/img/sponsors.png" />
            <strong>Sponsors</strong>
            <small>description</small>
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
