<div class="footer_outer">
  <div class="container">
      <div class="footer">
          <ul>
              <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/speakers">Speakers</a></li>
                <li><a href="/sponsors">Venue</a></li>
                <li><a href="/sponsors">Schedule</a></li>
                <li class="no_bg"><a href="/sponsors">Sponsors</a></li>
                <li class="no_bg margin"><a href="mailto:gophercon@gopheracademy.com" class="padding"><img src="/img/mail_icon.png" alt=""></a></li>
                <li class="no_bg"><a href="https://www.facebook.com/gophercon" class="padding"><img src="/img/facebook_icon.png" alt=""></a></li>
                <li class="no_bg"><a href="https://twitter.com/gophercon" class="padding"><img src="/img/twitter_icon.png" alt=""></a></li>
            </ul>
        </div>
        
        <div class="footer_text">
          <ul>
              <li>© GopherCon 2013.  All rights reserved.</li>
          </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(window).load(function() {
		$('#click').click(function(){
		$('.menu_space').slideToggle();
		return false;
	});
});
</script>
