<div class="footer_outer">
  <div class="container">
      <div class="footer">
          <ul>
              <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Speakers</a></li>
                <li><a href="#">Sponsors</a></li>
                <li class="no_bg"><a href="#">Venue</a></li>
                <li class="no_bg margin"><a href="#" class="padding"><img src="/img/mail_icon.png" alt=""></a></li>
                <li class="no_bg"><a href="#" class="padding"><img src="/img/facebook_icon.png" alt=""></a></li>
                <li class="no_bg"><a href="#" class="padding"><img src="/img/twitter_icon.png" alt=""></a></li>
                <li class="no_bg"><a href="#" class="padding"><img src="/img/youtube_icon.png" alt=""></a></li>
            </ul>
        </div>
        
        <div class="footer_text">
          <ul>
              <li>© GopherCon 2013.  All rights reserved. Conditions of use</li>
          </ul>
        </div>
    </div>
</div>
