<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />

  <!--[if IE]><style type="text/css">.pie,.news_cont h2,.cont_bottom,.cont_main h2,.speaker h4,.speaker img {behavior:url(PIE.htc);}</style><![endif]-->
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/respond.js"></script>

  <!--[if IE 7]> <html class="ie7 oldie"> <![endif]-->
  <!--[if IE 8]> <html class="ie8 oldie"> <![endif]-->
  <!--[if IE 9]> <html class="ie9 oldie"> <![endif]-->
  <title>{{ page.title }}</title>
</head>
