<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://gopheracademy.us7.list-manage.com/subscribe/post?u=52c683df6e3b7219db6f8d98e&amp;id=42720f30e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button small round"></div>
</form>
</div>

<!--End mc_embed_signup-->
