<div id="social" class="row">
  <div class="small-6 columns">
    <div>
      <h3>Connect with us</h3>
      <ul class="">
        <li>
          <a href="https://twitter.com/gophercon">
            <i class="icon-twitter"></i>&nbsp;&nbsp;Twitter
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/events/cd4ge8g9t9mbmvgngpgli4qj0ls">
            <i class="icon-google-plus"></i>&nbsp;&nbsp;Google Plus
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/gophercon">
            <i class="icon-facebook-sign"></i>&nbsp;&nbsp;Facebook
          </a>
        </li>
        <li>
          <a href="mailto:gophercon@gopheracademy.com">
            <i class="icon-envelope"></i>&nbsp;&nbsp;Email
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="right">
      <img src="/img/gophers.png" />
    </div>
  </div>
</div>
