<div id="social" class="row">
  <div class="large-6 small-12 columns">
    <div class="row">
      <div class="small-5 columns">
        <h4>Connect with us</h4>
        <ul class="">
          <li>
            <a href="https://twitter.com/gophercon">
              <i class="icon-twitter"></i>&nbsp;&nbsp;Twitter
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/events/cd4ge8g9t9mbmvgngpgli4qj0ls">
              <i class="icon-google-plus"></i>&nbsp;&nbsp;Google Plus
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/gophercon">
              <i class="icon-facebook-sign"></i>&nbsp;&nbsp;Facebook
            </a>
          </li>
          <li>
            <a href="mailto:gophercon@gopheracademy.com">
              <i class="icon-envelope"></i>&nbsp;&nbsp;Email
            </a>
          </li>
        </ul>
      </div>
      <div class="small-7 columns">
        <div id="mailchimp">
          <h4>Join our mailing list</h4>
          {% include mailchimp.html %}	
        </div>
      </div>
    </div>
  </div>
  <div class="small-6 columns hide-for-small">
    <div class="gophers right">
      <img src="/img/gophers.png" />
    </div>
  </div>
</div>
