<div id="sponsors-column" class="panel">
  <h3>Sponsors</h3>
  <div class="sponsors">
    <h5>Diamond</h5>
    <div class="sponsor">
      <a href="http://www.google.com"><img src="/img/sponsors/google.png" /></a>
    </div>
    <div class="sponsor">
      <a href="http://www.ubuntu.com"><img src="/img/sponsors/ubuntu-supported.png" /></a>
    </div>
  </div>
  <h5>Silver</h5>
  <div class="sponsor">
    <a href="http://apcera.com"><img src="/img/sponsors/apcera.png" /></a>
  </div>
    <div class="sponsor">
    <a href="http://careers.stackoverflow.com/"><img src="/img/sponsors/so-careers-logo.png" /></a>
  </div>
  <h5>Bronze</h5>
  <div class="sponsor">
    <a href="http://iron.io"><img src="/img/sponsors/ironio.png" /></a>
  </div>
  <div class="sponsor">
    <a href="https://github.com"><img src="/img/sponsors/github.png" /></a>
  </div>
   <div class="sponsor">
    <a href="http://www.twitch.tv/"><img src="/img/sponsors/twitch.png" /></a>
  </div> 
   <div class="sponsor">
    <a href="http://www.shopkeep.com/"><img src="/img/sponsors/shopkeepPOS-logo-vertical-hi-3d-noStroke-2.png" /></a>
  </div> 
     <div class="sponsor">
    <a href="http://www.runscope.com/"><img src="/img/sponsors/runscope-full-logo-big.png" /></a>
  </div> 
  <h5>Supporters</h5>
  <div class="sponsor">
    <a href="http://cobenian.com"><img src="/img/sponsors/cobenian.png" /></a>
  </div>
  <div class="sponsor">
    <a href="http://www.hashicorp.com"><img src="/img/sponsors/hashicorp_logo.png" /></a>
  </div>
</div>
