<div class="row sponsors-row">
  <div class="small-12 columns">
    <div class="row">
      <h2>Sponsors</h2>
      <div class="hardhat columns small-3">
        <div class="hide-for-small">
          <img src="/img/hardhat.png" />
        </div>
      </div>

      <div class="sponsors columns small-9">
        <div class="row">
          <div class="sponsor google columns small-3">
            <a href="http://www.google.com"><img src="/img/sponsors/google.png" /></a>
          </div>

          <div class="sponsor canonical columns small-3">
            <a href="http://www.ubuntu.com"><img src="/img/sponsors/ubuntu-supported.png" /></a>
          </div>

          <div class="sponsor paypal columns small-3">
            <a href="http://www.paypal.com"><img src="/img/sponsors/paypal.png" /></a>
          </div>

          <div class="sponsor apcera columns small-3">
            <a href="http://apcera.com"><img src="/img/sponsors/apcera.png" /></a>
          </div>

          <div class="sponsor soflow columns small-3">
            <a href="http://careers.stackoverflow.com/"><img src="/img/sponsors/so-careers-logo.png" /></a>
          </div>

          <div class="sponsor dramafever columns small-3">
            <a href="http://www.dramafever.com"><img src="/img/sponsors/dramafever.png" /></a>
          </div>

          <div class="sponsor ironio columns small-3">
            <a href="http://iron.io"><img src="/img/sponsors/ironio.png" /></a>
          </div>

          <div class="sponsor github columns small-3">
            <a href="https://github.com"><img src="/img/sponsors/github.png" /></a>
          </div>

          <div class="sponsor twitch columns small-3">
            <a href="http://www.twitch.tv"><img src="/img/sponsors/twitch.png" /></a>
          </div>

          <div class="sponsor shopkeep columns small-3">
            <a href="http://www.shopkeep.com"><img src="/img/sponsors/shopkeepPOS-logo-vertical-hi-3d-noStroke-2.png" /></a>
          </div>

          <div class="sponsor runscope columns small-3">
            <a href="http://www.runscope.com"><img src="/img/sponsors/runscope-full-logo-big.png" /></a>
          </div>

          <div class="sponsor mongodb columns small-3">
            <a href="http://www.mongodb.com"><img src="/img/sponsors/mongodb.png" /></a>
          </div>

          <div class="sponsor stripe columns small-3">
            <a href="http://www.stripe.com"><img src="/img/sponsors/stripe.png" /></a>
          </div>

          <div class="sponsor momentumsi columns small-3">
            <a href="http://www.momentumsi.com"><img src="/img/sponsors/momentumsi.png" /></a>
          </div>

          <div class="sponsor datadog columns small-3">
            <a href="http://www.datadoghq.com"><img src="/img/sponsors/datadog-logo-icon.png" /></a>
          </div>
          <div class="sponsor thg columns small-3">
            <a href="http://thehybridgroup.com"><img src="/img/sponsors/thg-logo-square.png" /></a>
          </div>
           <div class="sponsor countersoft columns small-3">
            <a href="http://www.countersoft.com"><img src="/img/sponsors/cs-logo.png" /></a>
          </div>
          <div class="sponsor cobenian columns small-3">
            <a href="http://www.cobenian.com"><img src="/img/sponsors/cobenian.png" /></a>
          </div>

          <div class="sponsor samegoal columns small-3">
            <a href="http://www.samegoal.com"><img src="/img/sponsors/samegoal_education_technology_small.png" /></a>
          </div>

          <div class="sponsor hashicorp columns small-3">
            <a href="http://www.hashicorp.com"><img src="/img/sponsors/hashicorp_logo.png" /></a>
          </div>

          <div class="sponsor outcast columns small-3">
            <a href="http://www.outcast.io"><img src="/img/sponsors/outcast-gopher.png" /></a>
          </div>

          <div class="sponsor chicktech columns small-3">
            <a href="http://www.chicktech.org"><img src="/img/sponsors/chicktech.png" /></a>
          </div>
          <div class="sponsor oreilly columns small-3">
            <a href="http://oreilly.com"><img src="/img/sponsors/ORM_logo.jpg" /></a>
          </div>
          <div class="sponsor sourcegraph columns small-3">
            <a href="https://sourcegraph.com"><img src="/img/sponsors/SOURCEGRAPH-LOGO-VERTICAL.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
