<div class="contain-to-grid fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">GopherCon 2014</a></h1>
      </li>

      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul id="main-nav" class="left">
        <li class="divider"></li>
        <li><a href="/">Home</a></li>
        <li class="divider"></li>
        <li><a href="/about">About</a></li>
        <li class="divider"></li>
        <li><a href="/speakers">Speakers</a></li>
        <li class="divider"></li>
        <li><a href="/venue">Venue</a></li>
        <li class="divider"></li>
        <li><a href="/schedule">Schedule</a></li>
        <li class="divider"></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li class="divider"></li>
        <li><a href="/codeofconduct">Code of Conduct</a></li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul id="register-links" class="right">
        <li class="divider"></li>
        <li class="has-form">
          <a class="button success round" href="https://tito.io/gophercon/gophercon-2014">Purchase Tickets</a>
        </li>
        <li class="divider"></li>
        <li class="has-form">
          <a class="button round" href="https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&eventID=10672136">Book Hotel</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
