<div class="header_outer">
  <div class="container">
      <div class="navigation">
          <ul>
              <li class="current"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/speakers">Speakers</a></li>
                <li><a href="/venue">Venue</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li class="no_bg"><a href="/sponsors">Sponsors</a></li>
            </ul>
              <div class="clear"></div>
                <div class="header_menu">
                    <a href="#" id="click"><span><img src="img/header_menu-arrow.png" alt="" /></span><strong>MENU</strong></a>
                </div>
                <div class="menu_space">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/speakers">Speakers</a></li>
                        <li><a href="/venue">Venue</a></li>
                        <li><a href="/schedule">Schedule</a></li>
                        <li><a href="/sponsors">Sponsors</a></li>
                    </ul>
                <div class="clear"></div>
                </div>
        </div>
    </div>
</div>
