<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% include head.html %}	
<body>
  {% include topnav.html %}	
    <div class="container">
    	<div class="banner_bg">
        	<div class="banner">
            	<div class="logo"><a href="/"><img src="/img/logo.png" alt=""></a></div>
        		<div class="sponsor_img"><img src="/img/img2.png" alt=""></div>
        	<div class="height"></div>
            	<a href="/about" class="banner_nav pull-left">
                    <img src="/img/img3.png" alt="">
                    <strong>About</strong>
                    <small>
                        Learn more about GopherCon<br>
                        and GopherAcademy's mission.
                    </small>
                </a>
                
                <a href="/speakers" class="banner_nav pull-left marginleft">
                    <img src="/img/img4.png" alt="">
                    <strong><span>Speakers</span></strong>
                    <small>
                        <span>
                        	We've got the best ones.<br>
                        	You won't want to miss them.
                        </span>
                    </small>
                </a>
                
                <a href="/venue" class="banner_nav pull-left marginleft">
                    <img src="/img/img5.png" alt="">
                    <strong><em>Venue</em></strong>
                    <small>
                        <em>
                        	The Gophers will meet<br>
                        	in the heart of the city.
                        </em>
                    </small>
                </a>
                
                <a href="/sponsors" class="banner_nav pull-left marginleft">
                    <img src="/img/img6.png" alt="">
                    <strong><p>Sponsors</p></strong>
                    <small>
                        <p>
                        	It takes a village.<br>
                        	Meet ours here.
                        </p>
                    </small>
                </a>
                	<div class="clear"></div>
       		</div>
        </div>
    
    
    	<div class="news_cont">
          <h2>Announcements</h2>
      </div>
    
    	<div class="news">
        <div class="news_update">
            {{ content }}
        </div>
      </div>
    
    
    	<div class="news_cont">
        	<div class="right">
            	<h2>SPONSORS</h2>
            </div>
        </div>
    
    	<div class="sponsors">
        	<div class="row">
                <div class="span4 pull-left">
                    <div class="sponsors_image"><img src="/img/img8.png" alt=""></div>
                </div>
                
                <div class="span7 pull-right">
                </div>
            </div>
      </div>
    
    
    	<div class="news_cont"></div>
    
        <div class="register_link">
          {% include register_buttom.html %}	
        </div>
    </div>
  {% include footer.html %}	
</body>
</html>
