<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% include head.html %}	
<body>
  {% include topnav.html %}	
    
    <div class="container">
      <div class="content"><!--content-start-->
          <div class="cont_top">
              <div class="row">
                <div class="span10">
                  {% include register_buttom.html %}	
                </div>
              </div>
              <div class="clear"></div>
            </div>
            
            <div class="cartoon_img_box">
              <div class="cartoon_img1"><img src="/img/img17.png" alt=""></div>
                <div class="cartoon_img2"><img src="/img/img18.png" alt=""></div>
                <div class="cartoon_img3"><img src="/img/img19.png" alt=""></div>
                <div class="cartoon_img4"><img src="/img/img20.png" alt=""></div>
            </div>
            
            <div class="cont_bottom">
              <div class="row">
                  <div class="span10 pull-left">
                    <div class="cont_main">
                      <h2>{{ page.heading }}</h2>
                      {{ content }}
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="cartoon_cont">
                        <div class="cartoon pull-right">
                          <img src="/img/img12.png" alt="">
                        </div>
                  </div>
            </div>
        </div><!--content-end-->
    </div>
    
  {% include footer.html %}	
</body>
</html>
